.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.swiper-button-prev {
    margin-left: 40px;
}

.swiper-button-next {
    margin-right: 40px;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #FF6038;
}